.App {
  text-align: left;
}

.errmsg {
  color: red;
}

.resize {
  resize: none;
}

.app-check {
  width: 20px;
  margin: 1%;
}

.colu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}